body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    left: 0;
    right: 0;
  }
  
  .navigation{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 100px;
    filter:alpha(opacity=85);
    -moz-opacity:0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
  }
  
  .navigation li a {
    color: gray;
  }
  
  .navigation ul {
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    background-color: white;
  }
  
  .navigation li {
    font-weight: 100;
    letter-spacing: 2px;
    display: inline-block;
    font-size: 16px;
    padding: 40px 30px;
    font-family: Poppins, Helvetica, sans-serif;
  }
  
  .navigation  li.logo {
    color: black;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 4px;
  }
  
  #homebanner {
    left: 0;
    background-image: url(GL-1.jpg);
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    height: 500px;
    padding-top: 100px;
    margin-top: 120px;
  }
  
  #main {
    padding: 40px;
    text-align: center;
    width: auto;
  }
  
  h1 {
    margin-top: 370px;
    color: white;
    font-size: 42px;
    font-weight: 600;
    text-align: right;
    margin-right: 20px;
  }
  
  h2 {
    color: #30482C;
    font-size: 20px;
    line-height: 48px;
    text-align: center;
    margin: 50px;
  }
  
  h3 {
    color: #30482C;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin: 50px;
  }
  
  p {
    color: grey;
    font-size: 18px;
    line-height: 48px;
    text-align: center;
    margin: 50px;
  }
  
  .share {
    border: 1px solid LightGrey;
    padding: 40px 0px;
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .share a {
    background: #769570;
    border: 2px solid #769570;
    border-radius: 3px;
    color: white;
    display: inline-block;
    text-decoration: none;
  }
  
  .share a:hover {
    background: white;
    border: 2px solid #769570;
    color: #769570;
  }
  